body,
.rust-background {
  background-image: url("../bg.jpeg");
  background-repeat: no-repeat;
  background-size: cover;
}

.title-font {
  font-family: "Nixie One", cursive;
}

.big-title {
  font-size: 4em;
}

.font-shade {
  text-shadow: 0 5px 6px black;
}

.box-shadow {
  box-shadow: 0 5px 10px -5px black;
}

.drop-shadow {
  filter: drop-shadow(0px 5px 10px black);
}

.lloyd-tartan {
  background-image: url("../lloyd_tartan.png");
  background-repeat: repeat;
}
.drawer-background {
  border: none;
  height: 100vh;
  overflow-y: scroll;
  position: relative;
  width: 100%;
  &::-webkit-scrollbar {
    // background-image: url("../lloyd_tartan.png");
    // background-repeat: repeat;
    background: transparent;
  }
  &::-webkit-scrollbar-thumb {
    background: radial-gradient(white, rgb(202, 168, 146));
    border-radius: 10px;
    box-shadow: 0px 5px 10px black;
  }
}
.side-decoration-bar {
  display: block;
  height: 100vh;
  opacity: 0.5;
  position: absolute;
  right: 0;
  top: 0;
  width: 50px;
}

.drawer-content {
  padding-left: 50px;
  padding-right: 50px;
  width: 100% !important;
  p {
    text-align: left;
    width: 60ch;
  }
}

.w-timeline-item__title {
  font-family: "Nixie One", cursive;
  font-size: 2em;
  text-align: left;
}

.w-timeline-item {
  color: white !important;
  text-align: left;
}

.vue {
  color: #4fc08d;
}
.vue--bg {
  background-color: #4fc08d;
  &::after {
    color: #4fc08d;
  }
  &::before {
    color: #4fc08d;
  }
}

@media screen and (max-width: 600px) {
  .big-title {
    font-size: 2em;
  }
  .drawer-content {
    padding-left: 5px;
    padding-right: 5px;
  }
}

.fw {
  width: 100%;
}

.bold {
  font-weight: bold;
}

.washed-white {
  background: rgba(255, 255, 255, 0.568);
}

.my-input,
.my-textarea {
  border-radius: 2px;
}

.my-input {
  font-size: 1.3em;
  padding-top: 20px;
  padding: 10px;
}

.my-textarea {
  font-size: 1.3em;
  padding: 20px;
}
