body {
  background-image: url("../bg.png");
  background-repeat: no-repeat;
  background-size: cover;
}

html {
  height: 100%;
}

.title-font {
  font-family: "Nixie One", cursive;
}

.font-shade {
  text-shadow: 0 5px 6px black;
}
