rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    function isAuthenticated(){
      return request.auth != null;
    }
    match /contacts/{contactID} {
       allow read: if isAuthenticated();
       allow write;
    }
    match /blog/{blogID} {
       allow read;
       allow write:if isAuthenticated();
    }
}
}